# Node.js dependencies
node_modules/
package-lock.json
yarn.lock
.pnp
.pnp.*

# Build output
dist/
build/
.next/
out/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*

# MongoDB (Mongoose)
dump/
data/
*.log
*.lock
*.pid
mongod.lock

# Testing
coverage/

# Production
.vercel

# Editor and OS files
.DS_Store
.vscode/
.idea/
*.swp
*.swo
Thumbs.db

# Misc
*.pem
